@import "../variables";

.x-panel {
	margin: 10px;
	.x-inner {
		padding: 5px;
		//background-color: $panels;
	}
}

.highcharts-axis-labels text tspan:first-child {
	visibility: hidden;
}

#map {
	color: black;
}

span, h3 {
	font-size: 14px;
}